extends ../../layouts/fr/_home

block content
    section(class=`${prefix}-home__bubbles ${prefixjs}-home__bubbles`)
        +Bubble({js: true, modifier:"uxdesign", id:"uxdesign"})
            +BubbleBase()
                +Title({modifier:'bubble'})
                    | ux design
                +Img({src:`${basedir}${pathImg}uxdesign.svg`, alt: "uxdesign", modifier:'bubble'})
            +ArticleText({modifier:'bubble', title:"L’expérience utilisateur", text: `L’expérience utilisateur est le point de départ d’un application de qualité. La meilleure application du monde avec les dernières technologies et dans le respect des pratiques CRAFT finira à la poubelle si son expérience utilisateur est désastreuse.`})
        +Bubble({js: true, modifier:"development", id:"development"})
            +BubbleBase()
                +Title({modifier:'bubble'})
                    | développement
                +Img({src:`${basedir}${pathImg}developpement-frontend.svg`, alt: "developpement frontend", modifier:'bubble'})
            +ArticleText({modifier:'bubble', title:"Développment Web", text: `L’expérience utilisateur est le point de départ d’un application de qualité. La meilleure application du monde avec les dernières technologies et dans le respect des pratiques CRAFT finira à la poubelle si son expérience utilisateur est désastreuse.`})
        +Bubble({js: true, modifier:"opensource", id:"opensource"})
            +BubbleBase()
                +Title({modifier:'bubble'})
                    | open source
                +Img({ src:`${basedir}${pathImg}opensource.svg`, alt:"open source", modifier:'bubble' })
            +ArticleText({modifier:'bubble', title:"L’open Source", text: `L’expérience utilisateur est le point de départ d’un application de qualité. La meilleure application du monde avec les dernières technologies et dans le respect des pratiques CRAFT finira à la poubelle si son expérience utilisateur est désastreuse.`})
        +Icon({ id:'cross-gap', modifier:"closeBubble", js: true })
    section(class=`${prefix}-home__hero`)
        -const hero = page.hero
        +ArticleText({ modifier:'home-react', title: hero.title, text: hero.content, link: hero.link, image: hero.image })
