
block name
    -var name = "undef"

block vars
    -var id = "home"
    -var lang = "fr"
    -var logoTitle= 'Samuel Gomez'
    -var logoSubTitle = 'développeur web'
    -var logoImg = "samuel-gomez-logo.svg"
    -var logoAlt = 'Samuel Gomez, Senior Software Engineer'

block functions
    -const {setClassActive, setClass, pugg, pretty} = functions
    -const {title, author, geography, copyright, email, description, keywords, avatar} = general
    -const {prefixjs, prefix, baseurl, pathImg, pathFavicons, storybookBaseUrl, githubBaseUrl, badgeBaseUrl} = base

include ../../node_modules/@wooweb/icon/index
include ../../node_modules/@wooweb/title/index
include ../../node_modules/@wooweb/button/index
include ../../node_modules/@wooweb/link/index
include ../../node_modules/@wooweb/content/index
include ../../node_modules/@wooweb/logo/index
include ../../node_modules/@wooweb/img/index
include ../../node_modules/@wooweb/header/index
include ../../node_modules/@wooweb/footer/index
include ../components/more/more
include ../components/repo/repo
include ../components/menu/menu
include ../components/menu/menuitem
include ../components/menu/submenu
include ../components/introheader/introheader
include ../components/encart/encart
include ../components/pagelinks/pagelinks
include ../components/tabs/tabs
include ../components/tabs/tabs-nav-item
include ../components/tabs/tabs-content-item
include ../components/demo/demo
include ../components/translate/translate

doctype html
html(lang=lang id=`${prefix}-${id}-html` class=`${prefix}-html`)
    head
        link(rel="canonical" href=baseurl)
        include ../includes/meta
        block meta
        include ../includes/favicon.pug
        meta(name="description" content=metaDescription || description)
        meta(name="keywords" content=metaKeywords || keywords)
        title
            =metaTitle || title
        //[if lte IE 8]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        link(rel="shortcut icon" href="img/favicon.ico")
        link(href=`${basedir}bundle.css` rel="stylesheet" type="text/css")
        style
            block style
    body(id=`${prefix}-${id}-body` class=`${prefix}-body`)
        block menu
        +Header({ basedir, pathImg, link: { href:basedir, title:"Retour à l'accueil"}, logo: { title:logoTitle, subtitle:logoSubTitle, img: logoImg, alt: logoAlt, modifier:'header' }, js: true })
            block headerlinks
        +Content({modifier: id, js:true})
            block content
        +Footer({js:true})
        div(style="display:none")
            include ../assets/sprite/sprite.svg
        script(src=`${basedir}bundle.js`)
        block scriptPage
        block template
        include ../includes/analytics.pug
